<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Thanks</title>
</head>
<body>
<h1>thank you for your submition</h1>
<br>
<button><a href="{{url_for('home')}}">Submit another one</a></button>

<button><a href="{{url_for('display')}}">view quotes submitted</a></button>
</body>
</html>

<!-- <a href="{{ url_for('home') }}">Home</a>
 -->
<!-- # Thank the user for submiting a quote and offer two links: one back to the /home route to submit another quote and one to the /display route to view all the quotes submitted so far. -->
